<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title> Create-user</title>
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create" class="active">Create-user</a>
      </div>
      <br>
      <br>
      <form action="/create-user" method="post">
     <div class="form-use">
        <fieldset>
          <legend>FORM</legend>
            <div class="input">
             <div class="ten">
              <label > Name :</label>
              <input type="text" id="nameID" name="Name"/> 
             </div>
             <br>
             <div class="tp">
              <label > City :</label>
              <input type="text" id="cityID" name="City"/>
             </div>
             <br>
             <div class="string">
              <label > Email :</label>
              <input type="text" id="emailID" name="Email"/>
             </div>
            </div>
            <div>
              <br>
              <button class="button">SAVE</button>
            </div>
        </fieldset>
      </div>
    </form>
  
  
</body>
</html>